@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
}
#root{
    position:relative;
    min-height:100vh;
    background-color: var(--light-cream);
    --light-cream: #dfdcd6;
    --cream: #d1ccc0;
    --dark-cream: #ada890;
    --grey: #a8aaa9;
    --darkgrey: #68696e;
    --lightsleeves-blue: #98c0d9;
    --sleeves-blue: #5d7b95;
    --darksleeves-blue: #3f5d77;
    --lightsleeves-blue: #a4bbd1;
    --lightsleeves-red: #e0b2a6;
    --sleeves-red: #906466;
    --darksleeves-red: #7c474a;
}
body{
    margin:0;  
}

/* Header Styling */
.header{
    height: 4rem;
    background-color: var(--sleeves-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}
.header a{
    text-decoration:none;
    color:inherit;
}
.title-text:hover{
    color: var(--lightsleeves-blue);
   }
.title-text:active{
 color: var(--lightsleeves-blue);
}
.title-text{
    font-size: 2rem;
    letter-spacing: .25rem;
}

/* Navigation Styling */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .125rem;
    gap: 2rem;
    align-items: stretch;
}
.nav ul{
    padding:0;
    margin: 0;
    list-style:none;
    display: flex;
    gap: 3rem
}
.nav a {
    color: inherit;

}
.nav a:hover{
    color: var(--lightsleeves-red);
}
.nav li:active{
    color: var(--lightsleeves-red);
}

/* Resume Button */
.resume-btn{
    color: var(--darksleeves-red) !important;
    background-color: var(--lightsleeves-red);
    border: solid .125rem var(--darksleeves-red);
    padding: .5rem;
    border-radius: .5rem;
}
.resume-btn:hover{
    background-color: var(--sleeves-red);
    color: var(--light-cream) !important;
    border-radius: .5rem;
}

/* Home Styling */
.home-content{
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 12.5rem;
}
.intro-text{
    font-size: 4rem;
    margin: .25rem 0;
    color: var(--darksleeves-red)
}
.intro-sub{
    color: var(--sleeves-blue);
    font-size: 2rem;
    margin: .25rem 0;
}
.intro-info{
    margin-top: .25rem;
    width: 45%;
}

/* About-Me Styling*/
.aboutme-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme-content{
    display: flex;
    flex-direction: row;
    padding: 0 15rem;
    margin: 0;
}
#photo{
    width: 35%;
    height:70%;
    border-radius: .5rem;
}
.about-header{
    font-size: 3rem;
    color: var(--darksleeves-red)
}
.about-sub{
    color: var(--sleeves-blue);
    font-size: 2rem;
    margin: .25rem 0;
}
#about-text{
    margin: 0 0;
    margin-right: 3.5rem;
    padding: 0 3rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Contact Styling */
.contact-container{
    height: 100%;
}
.contact-me{
    position: absolute;
    margin: auto;
    top:0; bottom: 0; left: 0; right: 0;
    height:50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.contact-btn{
    font-size: 2rem;
    margin: 1rem 0;
    padding: .5rem .75rem;
    background-color: var(--darksleeves-red);
    border: solid .125rem var(--darksleeves-red);
    color: var(--light-cream) !important;
    border-radius: .5rem;
    transition: 0.3s;
}
.contact-btn:hover{
    background-color: var(--darksleeves-blue);
    border: solid .125rem var(--darksleeves-blue);
    transform: scale(1.1)
}
.contact-inputs{
    padding: .25rem .5rem;
    background-color: white;
    border: solid .125rem var(--dark-cream);
    border-radius: .5rem;
}
.contact-label{
    margin-top: 1rem;
    padding-left: .125rem;
}

.send-btn{
    align-self: center;
    font-size: 1rem;
    margin: 1rem 0;
    padding: .4rem .7rem;
    height: fit-content;
    width: fit-content;
    background-color: var(--darksleeves-red);
    border: solid .125rem var(--darksleeves-red);
    color: var(--light-cream) !important;
    border-radius: .5rem;
}
.send-btn:hover{
    background-color: var(--darksleeves-blue);
    border: solid .125rem var(--darksleeves-blue);
}

/* Portfolio Styling */
.portfolio{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    background-color: #ada890;
    padding: 2%;
    height: 500px;
    width: 500px;
    border-radius: .5rem;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.4);
    overflow: hidden;
}
.card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.card-btn button {
    background-color: #5d7b95;
    margin: 15px;
    padding: 5px;
    width: 75px;
    border-radius: .5rem;
    cursor: pointer;
}
.portfolio .card:hover{
    border-radius: 16px;
    border: 3px solid black;
    background-color:#ada890 ;
}

/* Footer Styling */
.footer{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.footer ul{
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem
}
.footer a{
    color:inherit;
}
.footer:hover{
 color: #906466;
}
.footer:active{
 color: #906466;
}
.footer-img{
    height:2rem;
    width: 2rem;
}
.remove-line{
    text-decoration:none;
}

/* Media Queries */


@media screen and (max-width: 1660px){
    .intro-info{
        width: 50%
    }
    .aboutme-content{
        padding: 0 12rem
    }
    .about-text{
        padding: 0 2.75rem
    }
    .about-header{
        margin: 1.5rem 0
    }
    .contact-me{
        height:50%;
        width: 30%;
    }
}
@media screen and (max-width: 1450px){
    .intro-info{
        width: 55%
    }
    .aboutme-content{
        padding: 0 8rem;
    }
    #about-text{
        padding: 0 2.25rem;
        margin: 0 3rem;
    }
    .about-header{
        margin: 1.25rem 0;
        font-size: 2.75rem
    }
    .contact-me{
        height:50%;
        width: 35%;
    }
}
@media screen and (max-width: 1200px){
    .intro-info{
        width: 65%
    }
    .nav ul{
        gap: 2rem;
    }
    .aboutme-content{
        padding: 0 6rem;
    }
    #about-text{
        padding: 0 2rem;
        margin: 0 3rem;
    }
    #photo{
        width: 40%;
        height: 80%;
    }
    .contact-me{
        height:50%;
        width: 40%;
    }
}
@media screen and (max-width: 1100px){
    .intro-info{
        width: 75%
    }
    .home-content{
        padding: 10rem
    }
    .aboutme-content{
        padding: 0 4rem;
    }
    #about-text{
        padding: 0 2rem;
        margin: 0 2rem;
    }
    .about-sub{
        font-size: 1.75rem;
    }
    .contact-me{
        height:50%;
        width: 45%;
    }
    .footer-img{
        height:1.75rem;
        width: 1.75rem;
    }
}
@media screen and (max-width: 992px){
    .intro-info{
        width: 100%
    }
    .home-content{
        padding: 9rem
    }
    .aboutme-content{
        padding: 0 3rem;
    }
    #about-text{
        padding: 0 2rem;
        margin: 0 2rem;
    }
    .about-header{
        margin: 1rem 0;
        font-size: 2.5rem;
    }
    .about-sub{
        font-size: 1.5rem;
    }

}
@media screen and (max-width: 890px){
.home-content{
    padding: 8rem
}
.intro-text{
    font-size: 3.5rem;
}
.intro-sub{
    font-size: 1.75rem;
}
.nav ul{
    gap: 1.5rem;
}
.contact-btn{
    font-size: 1.5rem;
    margin: 0;
    width:fit-content;
    height: fit-content;
}
#about-text{
    padding: 0 0;
    margin: 0 1rem;
}
.contact-me{
    height:50%;
    width: 50%;
}
}
@media screen and (max-width: 768px){
    .home-content{
        padding: 7rem
    }
    .nav ul{
        font-size: .85rem;
        gap: 1rem;
    }
    .title-text {
        font-size: 1.75rem;
    }
    .about-header{
        margin: 1rem 0;
        font-size: 2.25rem;
    }
    .about-sub{
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .aboutme-content{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 2.5rem;
        align-items: center;
    }
    #photo{
        width:50%;
        height:100%;
    }
    .footer-img{
        height:1.5rem;
        width: 1.5rem;
    }
}
@media screen and (max-width: 680px){
    .nav ul{
        font-size: .85rem;
        gap: .5rem;
    }
    .title-text {
        font-size: 1.5rem;
    }
    .intro-text{
        font-size: 3rem;
    }
    .intro-sub{
        font-size: 1.5rem;
    }
    .intro-greeting{
        font-size: .85rem;
    }
    .home-content{
        padding: 0 4rem;
    }
    .contact-btn{
        font-size: 1.25rem;
        margin: 0;
        width:fit-content;
        height: fit-content;
    }
}
@media screen and (max-width: 576px){
    
    .nav ul{
        font-size: .75rem;
        gap: .75rem;
    }
    .title-text {
        font-size: 1.25rem;
    }
    .intro-text{
        font-size: 2.35rem;
    }
    .intro-sub{
        font-size: 1.25rem;
    }
    .contact-btn{
        font-size: 1rem;
        margin: 0;
        width:fit-content;
        height: fit-content;
    }
    .home-content{
        padding: 0 3rem;
    }
    .contact-me{
        height:50%;
        width: 70%;
    }
}


