@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #F5ECE0;
}

body{
    margin:0;
    background-color: #505250;
}

/* Header Styling */
.header{
    height: 10vh;
    background-color: #2A2E2B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}
.header a{
    text-decoration:none;
    color:inherit
}
.header:hover{
    color: #B84102;
   }
.header:active{
 color: #B84102;
}
.title-text{
    font-size: 2rem;
    letter-spacing: 4px;
}

/* Navigation Styling */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    gap: 2rem;
    align-items: stretch;
}
.nav ul{
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem
}
.nav a {
 color: inherit;
}
.nav li:hover{
 color: #B84102;
}
.nav li:active{
 color: #B84102;
}

/* Body/Content Styling */
.content{
    height: 75vh;
    margin: 0 2rem;
    text-align: center;
}


/* About-Me Styling*/

#photo{
    width: auto;
    height:60%;
}

#about-text{
    margin: 2rem 6rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Contact Styling */
.contact-me{
    height:90vh;
    color: #B84102;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 2px;
    gap: 1rem;
}
.contact-me ul{
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contact-me a {
 color: inherit;
}
.contact-me li:hover{
 color: #B84102;
}
.contact-me li:active{
 color: #B84102;
}

/* Portfolio Styling */
.portfolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 1rem;
}

.card {
    background-color: #2A2E2B;
    padding: 2%;
    height: 500px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.4);
    overflow: hidden;
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.card-btn button {
    background-color: #B84102;
    margin: 15px;
    padding: 5px;
    width: 75px;
    border-radius: 8px;
    cursor: pointer;
}

.portfolio .card:hover{
    border-radius: 16px;
    border: 3px solid #B84102;
    background-color:#30382C ;
}

/* Footer Styling */
.footer{
    color: #A8C686;
    letter-spacing: 2px;
    gap: 2rem;
    align-items: stretch;
}
.footer ul{
    height:15vh;
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.footer a{
    color:inherit;
}
.footer li:hover{
 color: #B84102;
}
.footer li:active{
 color: #B84102;
}

/* General Styling */
.amber-text{
    color:#B84102
}

.remove-line{
    text-decoration:none;
}

