@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
}

#root{
    background-color: var(--light-cream);
    --light-cream: #dfdcd6;
    --cream: #d1ccc0;
    --dark-cream: #ada890;
    --grey: #a8aaa9;
    --darkgrey: #68696e;
    --lightsleeves-blue: #98c0d9;
    --sleeves-blue: #5d7b95;
    --darksleeves-blue: #3f5d77;
    --lightsleeves-blue: #a4bbd1;
    --lightsleeves-red: #e0b2a6;
    --sleeves-red: #906466;
    --darksleeves-red: #7c474a;
}

body{
    margin:0;  
}

/* Header Styling */
.header{
    height: 5vh;
    background-color: var(--sleeves-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}
.header a{
    text-decoration:none;
    color:inherit
}
.title-text:hover{
    color: var(--lightsleeves-blue);
   }
.title-text:active{
 color: var(--lightsleeves-blue);
}
.title-text{
    font-size: 2rem;
    letter-spacing: 4px;
}

/* Navigation Styling */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    gap: 2rem;
    align-items: stretch;
}
.nav ul{
    padding:0;
    margin: 0;
    list-style:none;
    display: flex;
    gap: 3rem
}
.nav a {
 color: inherit;
}
.nav li:hover{
 color: var(--lightsleeves-blue);
}
.nav li:active{
 color: var(--lightsleeves-blue);
}

/* Body/Content Styling */
.content{
    height: 90vh;
    margin: 0 2rem;
    text-align: center;
}

/* Home Styling */
.home-content{
    height: 90vh;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 150px;
}

.intro-greeting{
    font-size: 1rem;
    margin: 0 0;
    color: var(--darksleeves-blue)
}
.intro-text{
    font-size: 4rem;
    margin: 4px 0;
    color: var(--darksleeves-red)
}
.intro-sub{
    font-size: 2rem;
    margin: 4px 0;
}
.intro-info{
    margin-top: 4px;
    width: 40%;
}

/* About-Me Styling*/

.aboutme-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 350px;
    margin: 0 0;
}

#photo{
    width: 40%;
    height:80%;
}

.about-header{
    font-size: 3rem;
    color: var(--darksleeves-red)
}

#about-text{
    margin: 1rem 4rem;
    padding-right: 100px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Contact Styling */
.contact-me{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    gap: 1rem;
}
.contact-btn{
    margin: 16px 0;
    padding: 4px 8px;
    background-color: var(--lightsleeves-blue);
    border: solid 2px var(--darksleeves-blue);
    border-radius: 8px;
}
.contact-inputs{
    margin: 0 0;
    padding: 4px 8px;
    background-color: white;
    border: solid 2px var(--dark-cream);
    border-radius: 8px;
}

.message-box{
    height: 20%;
    width: 25%;
}

/* Portfolio Styling */
.portfolio{
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 1rem;
}

.card {
    background-color: #ada890;
    padding: 2%;
    height: 500px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.4);
    overflow: hidden;
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.card-btn button {
    background-color: #5d7b95;
    margin: 15px;
    padding: 5px;
    width: 75px;
    border-radius: 8px;
    cursor: pointer;
}

.portfolio .card:hover{
    border-radius: 16px;
    border: 3px solid black;
    background-color:#ada890 ;
}

/* Footer Styling */
.footer{
    letter-spacing: 2px;
    align-items: stretch;
}
.footer ul{
    height:5vh;
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.footer a{
    color:inherit;
}
.footer li:hover{
 color: #906466;
}
.footer li:active{
 color: #906466;
}
.footer-img{
    height:35px;
    width: 35px;
}

.remove-line{
    text-decoration:none;
}

